body {
    background-color: #003B6F;
}
 h1 {
    color: white;
     text-align:center;
     font-size: 400%;
     padding: 30px 30px 30px 30px;
    }
    h2 {
    color: white;
    margin: 10px 15px 30px 30px;   
    }
    P {
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
    }
img {
    display: inline;
    margin: auto;
   }
footer {
    text-align:center;
    padding-top: 50px;
   
  } 
