body {
    background-color: #003B6F;
}
 h1 {
    color: white;
     text-align:center;
     font-size: 400%;
     padding: 30px 30px 30px 30px;
    }
    h2 {
    color: white;
    margin: 10px 15px 30px 30px;   
    }
    P {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 600px;
    margin-left: 30px;
    }
img {
    float: right;
    padding-right: 30px;
   }
footer {
   display: block
    margin: auto;
    
   
  } 
